datain/Finvoiceack.dtd

<?xml version="1.0" encoding="ISO-8859-15"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Jussi Paasikallio (OKOBANK Group) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT Acknowledgement (eb:From+, eb:To+, MessageData, Reason)>
<!ELEMENT Code (#PCDATA)>
<!ELEMENT Finvoiceack (Acknowledgement)>
<!ATTLIST Finvoiceack
	Version CDATA #REQUIRED
	xmlns:eb CDATA #REQUIRED
	xmlns CDATA #REQUIRED
>
<!ELEMENT MessageData (eb:MessageId, eb:Timestamp)>
<!ELEMENT Reason (Code, Text)>
<!ELEMENT Text (#PCDATA)>
<!ELEMENT eb:From (eb:PartyId, eb:Role)>
<!ELEMENT eb:MessageId (#PCDATA)>
<!ELEMENT eb:PartyId (#PCDATA)>
<!ELEMENT eb:Role (#PCDATA)>
<!ELEMENT eb:Timestamp (#PCDATA)>
<!ELEMENT eb:To (eb:PartyId, eb:Role)>
