datain/Finvoice.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Jussi Paasikallio (OKOBANK Group) -->
<!--DTD generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<!ELEMENT AccountDimensionText (#PCDATA)>
<!ELEMENT AgreementIdentifier (#PCDATA)>
<!ELEMENT AgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT ArticleIdentifier (#PCDATA)>
<!ELEMENT ArticleInfoUrlText (#PCDATA)>
<!ELEMENT ArticleName (#PCDATA)>
<!ELEMENT BuyerArticleIdentifier (#PCDATA)>
<!ELEMENT BuyerCommunicationDetails (BuyerPhoneNumberIdentifier?, BuyerEmailaddressIdentifier?)>
<!ELEMENT BuyerContactPersonName (#PCDATA)>
<!ELEMENT BuyerEmailaddressIdentifier (#PCDATA)>
<!ELEMENT BuyerOrganisationName (#PCDATA)>
<!ELEMENT BuyerOrganisationTaxCode (#PCDATA)>
<!ELEMENT BuyerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT BuyerPartyDetails (BuyerPartyIdentifier?, BuyerOrganisationName+, BuyerOrganisationTaxCode?, BuyerPostalAddressDetails?)>
<!ELEMENT BuyerPartyIdentifier (#PCDATA)>
<!ELEMENT BuyerPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT BuyerPostCodeIdentifier (#PCDATA)>
<!ELEMENT BuyerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT BuyerPostalAddressDetails (BuyerStreetName, BuyerTownName, BuyerPostCodeIdentifier, CountryCode?, CountryName?, BuyerPostOfficeBoxIdentifier?)>
<!ELEMENT BuyerStreetName (#PCDATA)>
<!ELEMENT BuyerTownName (#PCDATA)>
<!ELEMENT CashDiscountAmount (#PCDATA)>
<!ATTLIST CashDiscountAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT CashDiscountBaseAmount (#PCDATA)>
<!ATTLIST CashDiscountBaseAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT CashDiscountDate (#PCDATA)>
<!ATTLIST CashDiscountDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT CashDiscountPercent (#PCDATA)>
<!ELEMENT ConfirmedQuantity (#PCDATA)>
<!ATTLIST ConfirmedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT CountryCode (#PCDATA)>
<!ELEMENT CountryName (#PCDATA)>
<!ELEMENT DeliveredQuantity (#PCDATA)>
<!ATTLIST DeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT DelivererCountryCode (#PCDATA)>
<!ELEMENT DelivererCountryName (#PCDATA)>
<!ELEMENT DelivererIdentifier (#PCDATA)>
<!ELEMENT DelivererName (#PCDATA)>
<!ELEMENT DeliveryCommunicationDetails (DeliveryPhoneNumberIdentifier?, DeliveryEmailaddressIdentifier?)>
<!ELEMENT DeliveryContactPersonName (#PCDATA)>
<!ELEMENT DeliveryDate (#PCDATA)>
<!ATTLIST DeliveryDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT DeliveryDetails (DeliveryDate?, DeliveryPeriodDetails?, DeliveryMethodText?, DeliveryTermsText?, TerminalAddressText?, WaybillIdentifier?, WaybillTypeCode?, DelivererIdentifier?, DelivererName*, DelivererCountryCode?, DelivererCountryName?, ManufacturerIdentifier?, ManufacturerName*, ManufacturerCountryCode?, ManufacturerCountryName?)>
<!ELEMENT DeliveryEmailaddressIdentifier (#PCDATA)>
<!ELEMENT DeliveryMethodText (#PCDATA)>
<!ELEMENT DeliveryOrganisationName (#PCDATA)>
<!ELEMENT DeliveryOrganisationTaxCode (#PCDATA)>
<!ELEMENT DeliveryOrganisationUnitNumber (#PCDATA)>
<!ELEMENT DeliveryPartyDetails (DeliveryPartyIdentifier?, DeliveryOrganisationName+, DeliveryOrganisationTaxCode?, DeliveryPostalAddressDetails)>
<!ELEMENT DeliveryPartyIdentifier (#PCDATA)>
<!ELEMENT DeliveryPeriodDetails (StartDate, EndDate)>
<!ELEMENT DeliveryPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT DeliveryPostCodeIdentifier (#PCDATA)>
<!ELEMENT DeliveryPostalAddressDetails (DeliveryStreetName, DeliveryTownName, DeliveryPostCodeIdentifier, CountryCode?, CountryName?, DeliveryPostofficeBoxIdentifier?)>
<!ELEMENT DeliveryPostofficeBoxIdentifier (#PCDATA)>
<!ELEMENT DeliveryStreetName (#PCDATA)>
<!ELEMENT DeliveryTermsText (#PCDATA)>
<!ELEMENT DeliveryTownName (#PCDATA)>
<!ELEMENT EndDate (#PCDATA)>
<!ATTLIST EndDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT EpiAccountID (#PCDATA)>
<!ATTLIST EpiAccountID
	IdentificationSchemeName (IBAN | BBAN) #REQUIRED
>
<!ELEMENT EpiBei (#PCDATA)>
<!ELEMENT EpiBeneficiaryPartyDetails (EpiNameAddressDetails?, EpiBei?, EpiAccountID)>
<!ELEMENT EpiBfiIdentifier (#PCDATA)>
<!ATTLIST EpiBfiIdentifier
	IdentificationSchemeName (BIC) #REQUIRED
>
<!ELEMENT EpiBfiPartyDetails (EpiBfiIdentifier?)>
<!ELEMENT EpiCharge (#PCDATA)>
<!ATTLIST EpiCharge
	ChargeOption (SHA | OUR | BEN) #REQUIRED
>
<!ELEMENT EpiDate (#PCDATA)>
<!ATTLIST EpiDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT EpiDateOptionDate (#PCDATA)>
<!ATTLIST EpiDateOptionDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT EpiDetails (EpiIdentificationDetails, EpiPartyDetails, EpiPaymentInstructionDetails)>
<!ELEMENT EpiEmail (#PCDATA)>
<!ELEMENT EpiIdentificationDetails (EpiDate, EpiReference, EpiUrl?, EpiEmail?, EpiOrderInfo?)>
<!ELEMENT EpiInstructedAmount (#PCDATA)>
<!ATTLIST EpiInstructedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT EpiInstructionCode (#PCDATA)>
<!ELEMENT EpiNameAddressDetails (#PCDATA)>
<!ELEMENT EpiOrderInfo (#PCDATA)>
<!ELEMENT EpiPartyDetails (EpiBfiPartyDetails, EpiBeneficiaryPartyDetails)>
<!ELEMENT EpiPaymentInstructionDetails (EpiPaymentInstructionId?, EpiTransactionTypeCode?, EpiInstructionCode?, EpiRemittanceInfoIdentifier, EpiInstructedAmount, EpiCharge, EpiDateOptionDate)>
<!ELEMENT EpiPaymentInstructionId (#PCDATA)>
<!ELEMENT EpiReference (#PCDATA)>
<!ELEMENT EpiRemittanceInfoIdentifier (#PCDATA)>
<!ATTLIST EpiRemittanceInfoIdentifier
	IdentificationSchemeName (SPY) #REQUIRED
>
<!ELEMENT EpiTransactionTypeCode (#PCDATA)>
<!ELEMENT EpiUrl (#PCDATA)>
<!ELEMENT Finvoice (SellerPartyDetails, SellerOrganisationUnitNumber?, SellerContactPersonName?, SellerCommunicationDetails?, SellerInformationDetails?, InvoiceSenderPartyDetails?, InvoiceRecipientPartyDetails?, InvoiceRecipientOrganisationUnitNumber?, InvoiceRecipientContactPersonName?, InvoiceRecipientCommunicationDetails?, BuyerPartyDetails, BuyerOrganisationUnitNumber?, BuyerContactPersonName?, BuyerCommunicationDetails?, DeliveryPartyDetails?, DeliveryOrganisationUnitNumber?, DeliveryContactPersonName?, DeliveryCommunicationDetails?, DeliveryDetails?, InvoiceDetails, PaymentStatusDetails?, PartialPaymentDetails*, VirtualBankBarcode?, InvoiceRow+, SpecificationDetails?, EpiDetails, InvoiceUrlNameText*, InvoiceUrlText*)>
<!ATTLIST Finvoice
	Version (1.0 | 1.1 | 1.2) #IMPLIED
>
<!ELEMENT InterestPercent (#PCDATA)>
<!ELEMENT InvoiceDate (#PCDATA)>
<!ATTLIST InvoiceDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT InvoiceDetails (InvoiceTypeCode, InvoiceTypeText, OriginCode, OriginText?, InvoiceNumber, InvoiceDate, SellerReferenceIdentifier?, SellerReferenceIdentifierUrlText?, OrderIdentifier?, OrderIdentifierUrlText?, AgreementIdentifier?, AgreementIdentifierUrlText?, InvoiceTotalVatExcludedAmount, InvoiceTotalVatAmount, InvoiceTotalVatIncludedAmount, ShortProposedAccountIdentifier?, NormalProposedAccountIdentifier?, AccountDimensionText?, SellerAccountText?, VatSpecificationDetails*, InvoiceFreeText?, PaymentTermsDetails*)>
<!ELEMENT InvoiceDueDate (#PCDATA)>
<!ATTLIST InvoiceDueDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT InvoiceFreeText (#PCDATA)>
<!ELEMENT InvoiceNumber (#PCDATA)>
<!ELEMENT InvoiceRecipientAddress (#PCDATA)>
<!ELEMENT InvoiceRecipientCommunicationDetails (InvoiceRecipientPhoneNumberIdentifier?, InvoiceRecipientEmailaddressIdentifier?)>
<!ELEMENT InvoiceRecipientContactPersonName (#PCDATA)>
<!ELEMENT InvoiceRecipientDetails (InvoiceRecipientAddress, InvoiceRecipientIntermediatorAddress)>
<!ELEMENT InvoiceRecipientEmailaddressIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientIntermediatorAddress (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationName (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationTaxCode (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationUnitNumber (#PCDATA)>
<!ELEMENT InvoiceRecipientPartyDetails (InvoiceRecipientPartyIdentifier?, InvoiceRecipientOrganisationName+, InvoiceRecipientOrganisationTaxCode?, InvoiceRecipientPostalAddressDetails)>
<!ELEMENT InvoiceRecipientPartyIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientPostCodeIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientPostalAddressDetails (InvoiceRecipientStreetName, InvoiceRecipientTownName, InvoiceRecipientPostCodeIdentifier, CountryCode?, CountryName?, InvoiceRecipientPostOfficeBoxIdentifier?)>
<!ELEMENT InvoiceRecipientStreetName (#PCDATA)>
<!ELEMENT InvoiceRecipientTownName (#PCDATA)>
<!ELEMENT InvoiceRow (RowSubIdentifier?, ArticleIdentifier?, ArticleName?, ArticleInfoUrlText?, BuyerArticleIdentifier?, DeliveredQuantity?, OrderedQuantity?, ConfirmedQuantity?, StartDate?, EndDate?, UnitPriceAmount?, RowIdentifier?, RowIdentifierUrlText?, RowIdentifierDate?, OriginalInvoiceNumber?, RowDeliveryIdentifier?, RowDeliveryIdentifierUrlText?, RowDeliveryDate?, RowQuotationIdentifier?, RowQuotationIdentifierUrlText?, RowAgreementIdentifier?, RowAgreementIdentifierUrlText?, RowRequestOfQuotationIdentifier?, RowRequestOfQuotationIdentifierUrlText?, RowPriceListIdentifier?, RowPriceListIdentifierUrlText?, RowDeliveryDetails?, RowShortProposedAccountIdentifier?, RowNormalProposedAccountIdentifier?, RowAccountDimensionText?, RowSellerAccountText?, RowFreeText*, RowDiscountPercent?, RowVatRatePercent?, RowVatAmount?, RowVatExcludedAmount?, RowAmount?, SubInvoiceRow*)>
<!ELEMENT InvoiceSenderOrganisationName (#PCDATA)>
<!ELEMENT InvoiceSenderOrganisationTaxCode (#PCDATA)>
<!ELEMENT InvoiceSenderPartyDetails (InvoiceSenderPartyIdentifier?, InvoiceSenderOrganisationName+, InvoiceSenderOrganisationTaxCode?)>
<!ELEMENT InvoiceSenderPartyIdentifier (#PCDATA)>
<!ELEMENT InvoiceTotalVatAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT InvoiceTotalVatExcludedAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT InvoiceTotalVatIncludedAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT InvoiceTypeCode (#PCDATA)>
<!ATTLIST InvoiceTypeCode
	CodeListAgencyIdentifier (SPY) #IMPLIED
>
<!ELEMENT InvoiceTypeText (#PCDATA)>
<!ELEMENT InvoiceUrlNameText (#PCDATA)>
<!ELEMENT InvoiceUrlText (#PCDATA)>
<!ELEMENT ManufacturerCountryCode (#PCDATA)>
<!ELEMENT ManufacturerCountryName (#PCDATA)>
<!ELEMENT ManufacturerIdentifier (#PCDATA)>
<!ELEMENT ManufacturerName (#PCDATA)>
<!ELEMENT NormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT OrderIdentifier (#PCDATA)>
<!ELEMENT OrderIdentifierUrlText (#PCDATA)>
<!ELEMENT OrderedQuantity (#PCDATA)>
<!ATTLIST OrderedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT OriginCode (#PCDATA)>
<!ELEMENT OriginText (#PCDATA)>
<!ELEMENT OriginalInvoiceNumber (#PCDATA)>
<!ELEMENT PaidAmount (#PCDATA)>
<!ATTLIST PaidAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT PartialPaymentDetails (PaidAmount, UnPaidAmount, InterestPercent?, ProsessingCostsAmount?, PartialPaymentVatIncludedAmount+, PartialPaymentVatExcludedAmount+, PartialPaymentDueDate+, PartialPaymentReferenceIdentifier+)>
<!ELEMENT PartialPaymentDueDate (#PCDATA)>
<!ATTLIST PartialPaymentDueDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT PartialPaymentReferenceIdentifier (#PCDATA)>
<!ELEMENT PartialPaymentVatExcludedAmount (#PCDATA)>
<!ATTLIST PartialPaymentVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT PartialPaymentVatIncludedAmount (#PCDATA)>
<!ATTLIST PartialPaymentVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT PaymentMethodText (#PCDATA)>
<!ELEMENT PaymentOverDueFineDetails (PaymentOverDueFineFreeText?, PaymentOverDueFinePercent?)>
<!ELEMENT PaymentOverDueFineFreeText (#PCDATA)>
<!ELEMENT PaymentOverDueFinePercent (#PCDATA)>
<!ELEMENT PaymentStatusCode (#PCDATA)>
<!ELEMENT PaymentStatusDetails (PaymentStatusCode?, PaymentMethodText?)>
<!ELEMENT PaymentTermsDetails (PaymentTermsFreeText+, InvoiceDueDate?, CashDiscountDate?, CashDiscountBaseAmount?, CashDiscountPercent?, CashDiscountAmount?, PaymentOverDueFineDetails?)>
<!ELEMENT PaymentTermsFreeText (#PCDATA)>
<!ELEMENT ProsessingCostsAmount (#PCDATA)>
<!ATTLIST ProsessingCostsAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT RowAccountDimensionText (#PCDATA)>
<!ELEMENT RowAgreementIdentifier (#PCDATA)>
<!ELEMENT RowAgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT RowAmount (#PCDATA)>
<!ATTLIST RowAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT RowDelivererCountryCode (#PCDATA)>
<!ELEMENT RowDelivererCountryName (#PCDATA)>
<!ELEMENT RowDelivererIdentifier (#PCDATA)>
<!ELEMENT RowDelivererName (#PCDATA)>
<!ELEMENT RowDeliveryDate (#PCDATA)>
<!ATTLIST RowDeliveryDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT RowDeliveryDetails (RowTerminalAddressText?, RowWaybillIdentifier?, RowWaybillTypeCode?, RowDelivererIdentifier?, RowDelivererName*, RowDelivererCountryCode?, RowDelivererCountryName?, RowManufacturerIdentifier?, RowManufacturerName*, RowManufacturerCountryCode?, RowManufacturerCountryName?)>
<!ELEMENT RowDeliveryIdentifier (#PCDATA)>
<!ELEMENT RowDeliveryIdentifierUrlText (#PCDATA)>
<!ELEMENT RowDiscountPercent (#PCDATA)>
<!ELEMENT RowFreeText (#PCDATA)>
<!ELEMENT RowIdentifier (#PCDATA)>
<!ELEMENT RowIdentifierDate (#PCDATA)>
<!ATTLIST RowIdentifierDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT RowIdentifierUrlText (#PCDATA)>
<!ELEMENT RowManufacturerCountryCode (#PCDATA)>
<!ELEMENT RowManufacturerCountryName (#PCDATA)>
<!ELEMENT RowManufacturerIdentifier (#PCDATA)>
<!ELEMENT RowManufacturerName (#PCDATA)>
<!ELEMENT RowNormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT RowPriceListIdentifier (#PCDATA)>
<!ELEMENT RowPriceListIdentifierUrlText (#PCDATA)>
<!ELEMENT RowQuotationIdentifier (#PCDATA)>
<!ELEMENT RowQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT RowRequestOfQuotationIdentifier (#PCDATA)>
<!ELEMENT RowRequestOfQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT RowSellerAccountText (#PCDATA)>
<!ELEMENT RowShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT RowSubIdentifier (#PCDATA)>
<!ELEMENT RowTerminalAddressText (#PCDATA)>
<!ELEMENT RowVatAmount (#PCDATA)>
<!ATTLIST RowVatAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT RowVatExcludedAmount (#PCDATA)>
<!ATTLIST RowVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT RowVatRatePercent (#PCDATA)>
<!ELEMENT RowWaybillIdentifier (#PCDATA)>
<!ELEMENT RowWaybillTypeCode (#PCDATA)>
<!ELEMENT SellerAccountDetails (SellerAccountID, SellerBic)>
<!ELEMENT SellerAccountID (#PCDATA)>
<!ATTLIST SellerAccountID
	IdentificationSchemeName (IBAN | BBAN) #IMPLIED
>
<!ELEMENT SellerAccountText (#PCDATA)>
<!ELEMENT SellerBic (#PCDATA)>
<!ATTLIST SellerBic
	IdentificationSchemeName (BIC) #IMPLIED
>
<!ELEMENT SellerCommonEmailaddressIdentifier (#PCDATA)>
<!ELEMENT SellerCommunicationDetails (SellerPhoneNumberIdentifier?, SellerEmailaddressIdentifier?)>
<!ELEMENT SellerContactPersonName (#PCDATA)>
<!ELEMENT SellerEmailaddressIdentifier (#PCDATA)>
<!ELEMENT SellerFaxNumber (#PCDATA)>
<!ELEMENT SellerFreeText (#PCDATA)>
<!ELEMENT SellerHomeTownName (#PCDATA)>
<!ELEMENT SellerInformationDetails (SellerHomeTownName?, SellerVatRegistrationText?, SellerVatRegistrationDate?, SellerPhoneNumber?, SellerFaxNumber?, SellerCommonEmailaddressIdentifier?, SellerWebaddressIdentifier?, SellerFreeText?, SellerAccountDetails*, InvoiceRecipientDetails*)>
<!ELEMENT SellerOrganisationName (#PCDATA)>
<!ELEMENT SellerOrganisationTaxCode (#PCDATA)>
<!ELEMENT SellerOrganisationTaxCodeUrlText (#PCDATA)>
<!ELEMENT SellerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT SellerPartyDetails (SellerPartyIdentifier?, SellerPartyIdentifierUrlText?, SellerOrganisationName+, SellerOrganisationTaxCode?, SellerOrganisationTaxCodeUrlText?, SellerPostalAddressDetails?)>
<!ELEMENT SellerPartyIdentifier (#PCDATA)>
<!ELEMENT SellerPartyIdentifierUrlText (#PCDATA)>
<!ELEMENT SellerPhoneNumber (#PCDATA)>
<!ELEMENT SellerPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT SellerPostCodeIdentifier (#PCDATA)>
<!ELEMENT SellerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT SellerPostalAddressDetails (SellerStreetName, SellerTownName, SellerPostCodeIdentifier, CountryCode?, CountryName?, SellerPostOfficeBoxIdentifier?)>
<!ELEMENT SellerReferenceIdentifier (#PCDATA)>
<!ELEMENT SellerReferenceIdentifierUrlText (#PCDATA)>
<!ELEMENT SellerStreetName (#PCDATA)>
<!ELEMENT SellerTownName (#PCDATA)>
<!ELEMENT SellerVatRegistrationDate (#PCDATA)>
<!ATTLIST SellerVatRegistrationDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SellerVatRegistrationText (#PCDATA)>
<!ELEMENT SellerWebaddressIdentifier (#PCDATA)>
<!ELEMENT ShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT SpecificationDetails (SpecificationFreeText*)>
<!ELEMENT SpecificationFreeText (#PCDATA)>
<!ELEMENT StartDate (#PCDATA)>
<!ATTLIST StartDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SubArticleIdentifier (#PCDATA)>
<!ELEMENT SubArticleInfoUrlText (#PCDATA)>
<!ELEMENT SubArticleName (#PCDATA)>
<!ELEMENT SubBuyerArticleIdentifier (#PCDATA)>
<!ELEMENT SubConfirmedQuantity (#PCDATA)>
<!ATTLIST SubConfirmedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubDeliveredQuantity (#PCDATA)>
<!ATTLIST SubDeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubEndDate (#PCDATA)>
<!ATTLIST SubEndDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SubIdentifier (#PCDATA)>
<!ELEMENT SubInvoiceRow (SubIdentifier?, SubArticleIdentifier?, SubArticleName?, SubArticleInfoUrlText?, SubBuyerArticleIdentifier?, SubDeliveredQuantity?, SubOrderedQuantity?, SubConfirmedQuantity?, SubStartDate?, SubEndDate?, SubUnitPriceAmount?, SubRowIdentifier?, SubRowIdentifierUrlText?, SubRowIdentifierDate?, SubOriginalInvoiceNumber?, SubRowDeliveryIdentifier?, SubRowDeliveryIdentifierUrlText?, SubRowDeliveryDate?, SubRowQuotationIdentifier?, SubRowQuotationIdentifierUrlText?, SubRowAgreementIdentifier?, SubRowAgreementIdentifierUrlText?, SubRowRequestOfQuotationIdentifier?, SubRowRequestOfQuotationIdentifierUrlText?, SubRowPriceListIdentifier?, SubRowPriceListIdentifierUrlText?, SubRowDeliveryDetails?, SubRowShortProposedAccountIdentifier?, SubRowNormalProposedAccountIdentifier?, SubRowAccountDimensionText?, SubRowSellerAccountText?, SubRowFreeText*, SubRowDiscountPercent?, SubRowVatRatePercent?, SubRowVatAmount?, SubRowVatExcludedAmount?, SubRowAmount?)>
<!ELEMENT SubOrderedQuantity (#PCDATA)>
<!ATTLIST SubOrderedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubOriginalInvoiceNumber (#PCDATA)>
<!ELEMENT SubRowAccountDimensionText (#PCDATA)>
<!ELEMENT SubRowAgreementIdentifier (#PCDATA)>
<!ELEMENT SubRowAgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowAmount (#PCDATA)>
<!ATTLIST SubRowAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT SubRowDelivererCountryCode (#PCDATA)>
<!ELEMENT SubRowDelivererCountryName (#PCDATA)>
<!ELEMENT SubRowDelivererIdentifier (#PCDATA)>
<!ELEMENT SubRowDelivererName (#PCDATA)>
<!ELEMENT SubRowDeliveryDate (#PCDATA)>
<!ATTLIST SubRowDeliveryDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SubRowDeliveryDetails (SubRowTerminalAddressText?, SubRowWaybillIdentifier?, SubRowWaybillTypeCode?, SubRowDelivererIdentifier?, SubRowDelivererName*, SubRowDelivererCountryCode?, SubRowDelivererCountryName?, SubRowManufacturerIdentifier?, SubRowManufacturerName*, SubRowManufacturerCountryCode?, SubRowManufacturerCountryName?)>
<!ELEMENT SubRowDeliveryIdentifier (#PCDATA)>
<!ELEMENT SubRowDeliveryIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowDiscountPercent (#PCDATA)>
<!ELEMENT SubRowFreeText (#PCDATA)>
<!ELEMENT SubRowIdentifier (#PCDATA)>
<!ELEMENT SubRowIdentifierDate (#PCDATA)>
<!ATTLIST SubRowIdentifierDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SubRowIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowManufacturerCountryCode (#PCDATA)>
<!ELEMENT SubRowManufacturerCountryName (#PCDATA)>
<!ELEMENT SubRowManufacturerIdentifier (#PCDATA)>
<!ELEMENT SubRowManufacturerName (#PCDATA)>
<!ELEMENT SubRowNormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT SubRowPriceListIdentifier (#PCDATA)>
<!ELEMENT SubRowPriceListIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowQuotationIdentifier (#PCDATA)>
<!ELEMENT SubRowQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowRequestOfQuotationIdentifier (#PCDATA)>
<!ELEMENT SubRowRequestOfQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowSellerAccountText (#PCDATA)>
<!ELEMENT SubRowShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT SubRowTerminalAddressText (#PCDATA)>
<!ELEMENT SubRowVatAmount (#PCDATA)>
<!ATTLIST SubRowVatAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT SubRowVatExcludedAmount (#PCDATA)>
<!ATTLIST SubRowVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT SubRowVatRatePercent (#PCDATA)>
<!ELEMENT SubRowWaybillIdentifier (#PCDATA)>
<!ELEMENT SubRowWaybillTypeCode (#PCDATA)>
<!ELEMENT SubStartDate (#PCDATA)>
<!ATTLIST SubStartDate
	Format (CCYYMMDD) #IMPLIED
>
<!ELEMENT SubUnitPriceAmount (#PCDATA)>
<!ATTLIST SubUnitPriceAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT TerminalAddressText (#PCDATA)>
<!ELEMENT UnPaidAmount (#PCDATA)>
<!ATTLIST UnPaidAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT UnitPriceAmount (#PCDATA)>
<!ATTLIST UnitPriceAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT VatBaseAmount (#PCDATA)>
<!ATTLIST VatBaseAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT VatFreeText (#PCDATA)>
<!ELEMENT VatRateAmount (#PCDATA)>
<!ATTLIST VatRateAmount
	AmountCurrencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT VatRatePercent (#PCDATA)>
<!ELEMENT VatSpecificationDetails (VatBaseAmount, VatRatePercent, VatRateAmount, VatFreeText?)>
<!ELEMENT VirtualBankBarcode (#PCDATA)>
<!ELEMENT WaybillIdentifier (#PCDATA)>
<!ELEMENT WaybillTypeCode (#PCDATA)>
