datain/Finvoice_1.3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<!ELEMENT AnyPartyCommunicationDetails (AnyPartyPhoneNumberIdentifier?, AnyPartyEmailAddressIdentifier?)>
<!ELEMENT BuyerCommunicationDetails (BuyerPhoneNumberIdentifier?, BuyerEmailaddressIdentifier?)>
<!ELEMENT BuyerPartyDetails (BuyerPartyIdentifier?, BuyerOrganisationName+, BuyerOrganisationDepartment*, BuyerOrganisationTaxCode?, BuyerPostalAddressDetails?)>
<!ELEMENT BuyerPostalAddressDetails (BuyerStreetName+, BuyerTownName, BuyerPostCodeIdentifier, CountryCode?, CountryName?, BuyerPostOfficeBoxIdentifier?)>
<!ELEMENT CountryCode (#PCDATA)>
<!ELEMENT CountryName (#PCDATA)>
<!ELEMENT DeliveryCommunicationDetails (DeliveryPhoneNumberIdentifier?, DeliveryEmailaddressIdentifier?)>
<!ELEMENT DeliveryDetails (DeliveryDate?, DeliveryPeriodDetails?, ShipmentPartyDetails?, DeliveryMethodText?, DeliveryTermsText?, TerminalAddressText?, WaybillIdentifier?, WaybillTypeCode?, ClearanceIdentifier?, DeliveryNoteIdentifier?, DelivererIdentifier?, DelivererName*, DelivererCountryCode?, DelivererCountryName?, ModeOfTransportIdentifier?, CarrierName?, VesselName?, LocationIdentifier?, TransportInformationDate?, CountryOfOrigin?, CountryOfDestinationName?, DestinationCountryCode?, PlaceOfDischarge*, FinalDestinationName*, ManufacturerIdentifier?, ManufacturerName*, ManufacturerCountryCode?, ManufacturerCountryName?, ManufacturerOrderIdentifier?, PackageDetails?)>
<!ELEMENT DeliveryPartyDetails (DeliveryPartyIdentifier?, DeliveryOrganisationName+, DeliveryOrganisationDepartment*, DeliveryOrganisationTaxCode?, DeliveryPostalAddressDetails)>
<!ELEMENT DeliveryPeriodDetails (StartDate, EndDate)>
<!ELEMENT DeliveryPostalAddressDetails (DeliveryStreetName+, DeliveryTownName, DeliveryPostCodeIdentifier, CountryCode?, CountryName?, DeliveryPostofficeBoxIdentifier?)>
<!ELEMENT EndDate (#PCDATA)>
<!ATTLIST EndDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT EpiAccountID (#PCDATA)>
<!ATTLIST EpiAccountID
	IdentificationSchemeName NMTOKEN #REQUIRED
>
<!ELEMENT EpiBeneficiaryPartyDetails (EpiNameAddressDetails?, EpiBei?, EpiAccountID)>
<!ELEMENT EpiBfiIdentifier (#PCDATA)>
<!ATTLIST EpiBfiIdentifier
	IdentificationSchemeName NMTOKEN #REQUIRED
>
<!ELEMENT EpiBfiPartyDetails (EpiBfiIdentifier?)>
<!ELEMENT EpiCharge (#PCDATA)>
<!ATTLIST EpiCharge
	ChargeOption NMTOKEN #REQUIRED
>
<!ELEMENT EpiDetails (EpiIdentificationDetails, EpiPartyDetails, EpiPaymentInstructionDetails)>
<!ELEMENT EpiIdentificationDetails (EpiDate, EpiReference, EpiUrl?, EpiEmail?, EpiOrderInfo*)>
<!ELEMENT EpiPartyDetails (EpiBfiPartyDetails, EpiBeneficiaryPartyDetails)>
<!ELEMENT EpiPaymentInstructionDetails (EpiPaymentInstructionId?, EpiTransactionTypeCode?, EpiInstructionCode?, EpiRemittanceInfoIdentifier, EpiInstructedAmount, EpiCharge, EpiDateOptionDate)>
<!ELEMENT EpiRemittanceInfoIdentifier (#PCDATA)>
<!ATTLIST EpiRemittanceInfoIdentifier
	IdentificationSchemeName NMTOKEN #REQUIRED
>
<!ELEMENT ExternalSpecificationDetails (ANY*)>
<!ELEMENT Finvoice (MessageTransmissionDetails?, SellerPartyDetails, SellerOrganisationUnitNumber?, SellerSiteCode?, SellerContactPersonName?, SellerContactPersonFunction*, SellerContactPersonDepartment*, SellerCommunicationDetails?, SellerInformationDetails?, InvoiceSenderPartyDetails?, InvoiceRecipientPartyDetails?, InvoiceRecipientOrganisationUnitNumber?, InvoiceRecipientSiteCode?, InvoiceRecipientContactPersonName?, InvoiceRecipientContactPersonFunction*, InvoiceRecipientContactPersonDepartment*, InvoiceRecipientLanguageCode?, InvoiceRecipientCommunicationDetails?, BuyerPartyDetails, BuyerOrganisationUnitNumber?, BuyerSiteCode?, BuyerContactPersonName?, BuyerContactPersonFunction*, BuyerContactPersonDepartment*, BuyerCommunicationDetails?, DeliveryPartyDetails?, DeliveryOrganisationUnitNumber?, DeliverySiteCode?, DeliveryContactPersonName?, DeliveryContactPersonFunction*, DeliveryContactPersonDepartment*, DeliveryCommunicationDetails?, DeliveryDetails?, AnyPartyDetails*, InvoiceDetails, PaymentStatusDetails?, PartialPaymentDetails*, FactoringAgreementDetails?, VirtualBankBarcode?, InvoiceRow+, SpecificationDetails?, EpiDetails, InvoiceUrlNameText*, InvoiceUrlText*, StorageUrlText?, LayOutIdentifier?, InvoiceSegmentIdentifier?, ControlStampText?, AcceptanceStampText?, OriginalInvoiceFormat?)>
<!ATTLIST Finvoice
	Version NMTOKEN #REQUIRED
>
<!ELEMENT InvoiceDetails (InvoiceTypeCode, InvoiceTypeText, OriginCode, OriginText?, InvoiceNumber, InvoiceDate, OriginalInvoiceNumber?, InvoicingPeriodStartDate?, InvoicingPeriodEndDate?, SellerReferenceIdentifier?, SellerReferenceIdentifierUrlText?, BuyersSellerIdentifier?, SellersBuyerIdentifier?, OrderIdentifier?, OrderIdentifierUrlText?, OrderDate?, OrdererName?, SalesPersonName?, OrderConfirmationIdentifier?, OrderConfirmationDate?, AgreementIdentifier?, AgreementIdentifierUrlText?, AgreementTypeText?, AgreementTypeCode?, AgreementDate?, NotificationIdentifier?, NotificationDate?, RegistrationNumberIdentifier?, ControllerIdentifier?, ControllerName?, ControlDate?, BuyerReferenceIdentifier?, ProjectReferenceIdentifier?, DefinitionDetails*, InvoiceTotalVatExcludedAmount, InvoiceTotalVatAmount, InvoiceTotalVatIncludedAmount, InvoiceTotalRoundoffAmount?, ExchangeRate?, OtherCurrencyAmountVatExcludedAmount?, OtherCurrencyAmountVatIncludedAmount?, CreditLimitAmount?, CreditInterestPercent?, OperationLimitAmount?, MonthlyAmount?, ShortProposedAccountIdentifier?, NormalProposedAccountIdentifier?, ProposedAccountText?, AccountDimensionText?, SellerAccountText?, VatSpecificationDetails*, InvoiceFreeText*, InvoiceVatFreeText?, PaymentTermsDetails*)>
<!ELEMENT InvoiceRecipientCommunicationDetails (InvoiceRecipientPhoneNumberIdentifier?, InvoiceRecipientEmailaddressIdentifier?)>
<!ELEMENT InvoiceRecipientDetails (InvoiceRecipientAddress, InvoiceRecipientIntermediatorAddress)>
<!ELEMENT InvoiceRecipientPartyDetails (InvoiceRecipientPartyIdentifier?, InvoiceRecipientOrganisationName+, InvoiceRecipientDepartment*, InvoiceRecipientOrganisationTaxCode?, InvoiceRecipientPostalAddressDetails?)>
<!ELEMENT InvoiceRecipientPostalAddressDetails (InvoiceRecipientStreetName+, InvoiceRecipientTownName, InvoiceRecipientPostCodeIdentifier, CountryCode?, CountryName?, InvoiceRecipientPostOfficeBoxIdentifier?)>
<!ELEMENT InvoiceRow (RowSubIdentifier?, ArticleIdentifier?, ArticleGroupIdentifier?, ArticleName?, ArticleInfoUrlText?, BuyerArticleIdentifier?, EanCode?, RowRegistrationNumberIdentifier?, SerialNumberIdentifier?, RowActionCode?, RowDefinitionDetails*, OfferedQuantity*, DeliveredQuantity*, OrderedQuantity?, ConfirmedQuantity?, PostDeliveredQuantity?, InvoicedQuantity*, CreditRequestedQuantity?, ReturnedQuantity?, StartDate?, EndDate?, UnitPriceAmount?, UnitPriceVatIncludedAmount?, UnitPriceBaseQuantity?, RowIdentifier?, RowIdentifierUrlText?, RowOrderPositionIdentifier?, RowIdentifierDate?, RowPositionIdentifier?, OriginalInvoiceNumber?, RowOrdererName?, RowSalesPersonName?, RowOrderConfirmationIdentifier?, RowOrderConfirmationDate?, RowDeliveryIdentifier?, RowDeliveryIdentifierUrlText?, RowDeliveryDate?, RowQuotationIdentifier?, RowQuotationIdentifierUrlText?, RowAgreementIdentifier?, RowAgreementIdentifierUrlText?, RowRequestOfQuotationIdentifier?, RowRequestOfQuotationIdentifierUrlText?, RowPriceListIdentifier?, RowPriceListIdentifierUrlText?, RowProjectReferenceIdentifier?, RowOverDuePaymentDetails?, RowAnyPartyDetails*, RowDeliveryDetails?, RowShortProposedAccountIdentifier?, RowNormalProposedAccountIdentifier?, RowProposedAccountText?, RowAccountDimensionText?, RowSellerAccountText?, RowFreeText*, RowUsedQuantity?, RowPreviousMeterReadingDate?, RowLatestMeterReadingDate?, RowCalculatedQuantity?, RowAveragePriceAmount?, RowDiscountPercent?, RowDiscountAmount?, RowDiscountTypeCode?, RowDiscountTypeText?, RowProgressiveDiscountDetails*, RowVatRatePercent?, RowVatCode?, RowVatAmount?, RowVatExcludedAmount?, RowAmount?, SubInvoiceRow*)>
<!ELEMENT InvoiceSenderPartyDetails (InvoiceSenderPartyIdentifier?, InvoiceSenderOrganisationName+, InvoiceSenderOrganisationTaxCode?)>
<!ELEMENT InvoiceTypeCode (#PCDATA)>
<!ATTLIST InvoiceTypeCode
	CodeListAgencyIdentifier NMTOKEN #IMPLIED
>
<!ELEMENT OriginCode (#PCDATA)>
<!ELEMENT OriginalInvoiceNumber (#PCDATA)>
<!ELEMENT PartialPaymentDetails (PaidAmount, PaidVatExcludedAmount?, UnPaidAmount, UnPaidVatExcludedAmount?, InterestPercent?, ProsessingCostsAmount?, PartialPaymentVatIncludedAmount+, PartialPaymentVatExcludedAmount+, PartialPaymentDueDate+, PartialPaymentReferenceIdentifier+)>
<!ELEMENT PaymentOverDueFineDetails (PaymentOverDueFineFreeText*, PaymentOverDueFinePercent?, PaymentOverDueFixedAmount?)>
<!ELEMENT PaymentStatusCode (#PCDATA)>
<!ELEMENT PaymentStatusDetails (PaymentStatusCode?, PaymentMethodText?)>
<!ELEMENT PaymentTermsDetails (PaymentTermsFreeText+, InvoiceDueDate?, CashDiscountDate?, CashDiscountBaseAmount?, CashDiscountPercent?, CashDiscountAmount?, CashDiscountExcludingVatAmount?, CashDiscountVatDetails*, ReducedInvoiceVatIncludedAmount?, PaymentOverDueFineDetails?)>
<!ELEMENT RowDeliveryDetails (RowTerminalAddressText?, RowWaybillIdentifier?, RowWaybillTypeCode?, RowClearanceIdentifier?, RowDeliveryNoteIdentifier?, RowDelivererIdentifier?, RowDelivererName*, RowDelivererCountryCode?, RowDelivererCountryName?, RowModeOfTransportIdentifier?, RowCarrierName?, RowVesselName?, RowLocationIdentifier?, RowTransportInformationDate?, RowCountryOfOrigin?, RowCountryOfDestinationName?, RowDestinationCountryCode?, RowPlaceOfDischarge?, RowFinalDestinationName*, RowManufacturerArticleIdentifier?, RowManufacturerIdentifier?, RowManufacturerName*, RowManufacturerCountryCode?, RowManufacturerCountryName?, RowManufacturerOrderIdentifier?, RowPackageDetails?)>
<!ELEMENT SellerAccountDetails (SellerAccountID, SellerBic)>
<!ELEMENT SellerAccountID (#PCDATA)>
<!ATTLIST SellerAccountID
	IdentificationSchemeName NMTOKEN #REQUIRED
>
<!ELEMENT SellerBic (#PCDATA)>
<!ATTLIST SellerBic
	IdentificationSchemeName NMTOKEN #REQUIRED
>
<!ELEMENT SellerCommunicationDetails (SellerPhoneNumberIdentifier?, SellerEmailaddressIdentifier?)>
<!ELEMENT SellerInformationDetails (SellerOfficialPostalAddressDetails?, SellerHomeTownName?, SellerVatRegistrationText?, SellerVatRegistrationDate?, SellerTaxRegistrationText?, SellerPhoneNumber?, SellerFaxNumber?, SellerCommonEmailaddressIdentifier?, SellerWebaddressIdentifier?, SellerFreeText?, SellerAccountDetails*, InvoiceRecipientDetails*)>
<!ELEMENT SellerPartyDetails (SellerPartyIdentifier?, SellerPartyIdentifierUrlText?, SellerOrganisationName+, SellerOrganisationDepartment*, SellerOrganisationTaxCode?, SellerOrganisationTaxCodeUrlText?, SellerPostalAddressDetails?)>
<!ELEMENT SellerPostalAddressDetails (SellerStreetName+, SellerTownName, SellerPostCodeIdentifier, CountryCode?, CountryName?, SellerPostOfficeBoxIdentifier?)>
<!ELEMENT SpecificationDetails (SpecificationFreeText*, ExternalSpecificationDetails?)>
<!ELEMENT StartDate (#PCDATA)>
<!ATTLIST StartDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubInvoiceRow (SubIdentifier?, SubRowPositionIdentifier?, SubArticleIdentifier?, SubArticleGroupIdentifier?, SubArticleName?, SubArticleInfoUrlText?, SubBuyerArticleIdentifier?, SubEanCode?, SubRowRegistrationNumberIdentifier?, SubSerialNumberIdentifier?, SubRowActionCode?, SubRowDefinitionDetails*, SubOfferedQuantity*, SubDeliveredQuantity*, SubOrderedQuantity?, SubConfirmedQuantity?, SubPostDeliveredQuantity?, SubInvoicedQuantity*, SubCreditRequestedQuantity?, SubReturnedQuantity?, SubStartDate?, SubEndDate?, SubUnitPriceAmount?, SubUnitPriceVatIncludedAmount?, SubUnitPriceBaseQuantity?, SubRowIdentifier?, SubRowIdentifierUrlText?, SubRowIdentifierDate?, SubRowOrdererName?, SubRowSalesPersonName?, SubRowOrderConfirmationIdentifier?, SubRowOrderConfirmationDate?, SubOriginalInvoiceNumber?, SubRowDeliveryIdentifier?, SubRowDeliveryIdentifierUrlText?, SubRowDeliveryDate?, SubRowQuotationIdentifier?, SubRowQuotationIdentifierUrlText?, SubRowAgreementIdentifier?, SubRowAgreementIdentifierUrlText?, SubRowRequestOfQuotationIdentifier?, SubRowRequestOfQuotationIdentifierUrlText?, SubRowPriceListIdentifier?, SubRowPriceListIdentifierUrlText?, SubRowProjectReferenceIdentifier?, SubRowOverDuePaymentDetails?, SubRowAnyPartyDetails*, SubRowDeliveryDetails?, SubRowShortProposedAccountIdentifier?, SubRowNormalProposedAccountIdentifier?, SubRowProposedAccountText?, SubRowAccountDimensionText?, SubRowSellerAccountText?, SubRowFreeText*, SubRowUsedQuantity?, SubRowPreviousMeterReadingDate?, SubRowLatestMeterReadingDate?, SubRowCalculatedQuantity?, SubRowAveragePriceAmount?, SubRowDiscountPercent?, SubRowDiscountAmount?, SubRowDiscountTypeCode?, SubRowDiscountTypeText?, SubRowProgressiveDiscountDetails*, SubRowVatRatePercent?, SubRowVatCode?, SubRowVatAmount?, SubRowVatExcludedAmount?, SubRowAmount?)>
<!ELEMENT SubRowDeliveryDetails (SubRowTerminalAddressText?, SubRowWaybillIdentifier?, SubRowWaybillTypeCode?, SubRowClearanceIdentifier?, SubRowDeliveryNoteIdentifier?, SubRowDelivererIdentifier?, SubRowDelivererName*, SubRowDelivererCountryCode?, SubRowDelivererCountryName?, SubRowPlaceOfDischarge?, SubRowFinalDestinationName*, SubRowManufacturerArticleIdentifier?, SubRowManufacturerIdentifier?, SubRowManufacturerName*, SubRowManufacturerCountryCode?, SubRowManufacturerCountryName?, SubRowManufacturerOrderIdentifier?, SubRowPackageDetails?)>
<!ELEMENT VatSpecificationDetails (VatBaseAmount, VatRatePercent, VatCode?, VatRateAmount, VatFreeText*)>
<!ELEMENT AnyPartyPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT AnyPartyEmailAddressIdentifier (#PCDATA)>
<!ELEMENT BuyerPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT BuyerEmailaddressIdentifier (#PCDATA)>
<!ELEMENT BuyerPartyIdentifier (#PCDATA)>
<!ELEMENT BuyerOrganisationName (#PCDATA)>
<!ELEMENT BuyerOrganisationDepartment (#PCDATA)>
<!ELEMENT BuyerOrganisationTaxCode (#PCDATA)>
<!ELEMENT BuyerStreetName (#PCDATA)>
<!ELEMENT BuyerTownName (#PCDATA)>
<!ELEMENT BuyerPostCodeIdentifier (#PCDATA)>
<!ELEMENT BuyerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT DeliveryPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT DeliveryEmailaddressIdentifier (#PCDATA)>
<!ELEMENT DeliveryDate (#PCDATA)>
<!ATTLIST DeliveryDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT ShipmentPartyDetails (ShipmentPartyIdentifier?, ShipmentOrganisationName+, ShipmentOrganisationDepartment*, ShipmentOrganisationTaxCode?, ShipmentPostalAddressDetails?, ShipmentSiteCode?)>
<!ELEMENT DeliveryMethodText (#PCDATA)>
<!ELEMENT DeliveryTermsText (#PCDATA)>
<!ELEMENT TerminalAddressText (#PCDATA)>
<!ELEMENT WaybillIdentifier (#PCDATA)>
<!ELEMENT WaybillTypeCode (#PCDATA)>
<!ELEMENT ClearanceIdentifier (#PCDATA)>
<!ELEMENT DeliveryNoteIdentifier (#PCDATA)>
<!ELEMENT DelivererIdentifier (#PCDATA)>
<!ELEMENT DelivererName (#PCDATA)>
<!ELEMENT DelivererCountryCode (#PCDATA)>
<!ELEMENT DelivererCountryName (#PCDATA)>
<!ELEMENT ModeOfTransportIdentifier (#PCDATA)>
<!ELEMENT CarrierName (#PCDATA)>
<!ELEMENT VesselName (#PCDATA)>
<!ELEMENT LocationIdentifier (#PCDATA)>
<!ELEMENT TransportInformationDate (#PCDATA)>
<!ATTLIST TransportInformationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT CountryOfOrigin (#PCDATA)>
<!ELEMENT CountryOfDestinationName (#PCDATA)>
<!ELEMENT DestinationCountryCode (#PCDATA)>
<!ELEMENT PlaceOfDischarge (#PCDATA)>
<!ELEMENT FinalDestinationName (#PCDATA)>
<!ELEMENT ManufacturerIdentifier (#PCDATA)>
<!ELEMENT ManufacturerName (#PCDATA)>
<!ELEMENT ManufacturerCountryCode (#PCDATA)>
<!ELEMENT ManufacturerCountryName (#PCDATA)>
<!ELEMENT ManufacturerOrderIdentifier (#PCDATA)>
<!ELEMENT PackageDetails (PackageLength?, PackageWidth?, PackageHeight?, PackageWeight?, PackageNetWeight?, PackageVolume?, TransportCarriageQuantity?)>
<!ELEMENT DeliveryPartyIdentifier (#PCDATA)>
<!ELEMENT DeliveryOrganisationName (#PCDATA)>
<!ELEMENT DeliveryOrganisationDepartment (#PCDATA)>
<!ELEMENT DeliveryOrganisationTaxCode (#PCDATA)>
<!ELEMENT DeliveryStreetName (#PCDATA)>
<!ELEMENT DeliveryTownName (#PCDATA)>
<!ELEMENT DeliveryPostCodeIdentifier (#PCDATA)>
<!ELEMENT DeliveryPostofficeBoxIdentifier (#PCDATA)>
<!ELEMENT EpiNameAddressDetails (#PCDATA)>
<!ELEMENT EpiBei (#PCDATA)>
<!ELEMENT EpiDate (#PCDATA)>
<!ATTLIST EpiDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT EpiReference (#PCDATA)>
<!ELEMENT EpiUrl (#PCDATA)>
<!ELEMENT EpiEmail (#PCDATA)>
<!ELEMENT EpiOrderInfo (#PCDATA)>
<!ELEMENT EpiPaymentInstructionId (#PCDATA)>
<!ELEMENT EpiTransactionTypeCode (#PCDATA)>
<!ELEMENT EpiInstructionCode (#PCDATA)>
<!ELEMENT EpiInstructedAmount (#PCDATA)>
<!ATTLIST EpiInstructedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT EpiDateOptionDate (#PCDATA)>
<!ATTLIST EpiDateOptionDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT MessageTransmissionDetails (MessageSenderDetails, MessageReceiverDetails, MessageDetails)>
<!ELEMENT SellerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT SellerSiteCode (#PCDATA)>
<!ELEMENT SellerContactPersonName (#PCDATA)>
<!ELEMENT SellerContactPersonFunction (#PCDATA)>
<!ELEMENT SellerContactPersonDepartment (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationUnitNumber (#PCDATA)>
<!ELEMENT InvoiceRecipientSiteCode (#PCDATA)>
<!ELEMENT InvoiceRecipientContactPersonName (#PCDATA)>
<!ELEMENT InvoiceRecipientContactPersonFunction (#PCDATA)>
<!ELEMENT InvoiceRecipientContactPersonDepartment (#PCDATA)>
<!ELEMENT InvoiceRecipientLanguageCode (#PCDATA)>
<!ELEMENT BuyerOrganisationUnitNumber (#PCDATA)>
<!ELEMENT BuyerSiteCode (#PCDATA)>
<!ELEMENT BuyerContactPersonName (#PCDATA)>
<!ELEMENT BuyerContactPersonFunction (#PCDATA)>
<!ELEMENT BuyerContactPersonDepartment (#PCDATA)>
<!ELEMENT DeliveryOrganisationUnitNumber (#PCDATA)>
<!ELEMENT DeliverySiteCode (#PCDATA)>
<!ELEMENT DeliveryContactPersonName (#PCDATA)>
<!ELEMENT DeliveryContactPersonFunction (#PCDATA)>
<!ELEMENT DeliveryContactPersonDepartment (#PCDATA)>
<!ELEMENT AnyPartyDetails (AnyPartyText, AnyPartyIdentifier?, AnyPartyOrganisationName+, AnyPartyOrganisationDepartment*, AnyPartyOrganisationTaxCode?, AnyPartyContactPersonName?, AnyPartyContactPersonFunction*, AnyPartyContactPersonDepartment*, AnyPartyCommunicationDetails?, AnyPartyPostalAddressDetails?, AnyPartyOrganisationUnitNumber?, AnyPartySiteCode?)>
<!ELEMENT FactoringAgreementDetails (FactoringAgreementIdentifier, TransmissionListIdentifier?, EndorsementClauseCode?, FactoringTypeCode?, FactoringFreeText*, FactoringPartyIdentifier?, FactoringPartyName?, FactoringPartyPostalAddressDetails?)>
<!ELEMENT VirtualBankBarcode (#PCDATA)>
<!ELEMENT InvoiceUrlNameText (#PCDATA)>
<!ELEMENT InvoiceUrlText (#PCDATA)>
<!ELEMENT StorageUrlText (#PCDATA)>
<!ELEMENT LayOutIdentifier (#PCDATA)>
<!ELEMENT InvoiceSegmentIdentifier (#PCDATA)>
<!ELEMENT ControlStampText (#PCDATA)>
<!ELEMENT AcceptanceStampText (#PCDATA)>
<!ELEMENT OriginalInvoiceFormat (#PCDATA)>
<!ELEMENT InvoiceTypeText (#PCDATA)>
<!ELEMENT OriginText (#PCDATA)>
<!ELEMENT InvoiceNumber (#PCDATA)>
<!ELEMENT InvoiceDate (#PCDATA)>
<!ATTLIST InvoiceDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT InvoicingPeriodStartDate (#PCDATA)>
<!ATTLIST InvoicingPeriodStartDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT InvoicingPeriodEndDate (#PCDATA)>
<!ATTLIST InvoicingPeriodEndDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SellerReferenceIdentifier (#PCDATA)>
<!ELEMENT SellerReferenceIdentifierUrlText (#PCDATA)>
<!ELEMENT BuyersSellerIdentifier (#PCDATA)>
<!ELEMENT SellersBuyerIdentifier (#PCDATA)>
<!ELEMENT OrderIdentifier (#PCDATA)>
<!ELEMENT OrderIdentifierUrlText (#PCDATA)>
<!ELEMENT OrderDate (#PCDATA)>
<!ATTLIST OrderDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT OrdererName (#PCDATA)>
<!ELEMENT SalesPersonName (#PCDATA)>
<!ELEMENT OrderConfirmationIdentifier (#PCDATA)>
<!ELEMENT OrderConfirmationDate (#PCDATA)>
<!ATTLIST OrderConfirmationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT AgreementIdentifier (#PCDATA)>
<!ELEMENT AgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT AgreementTypeText (#PCDATA)>
<!ELEMENT AgreementTypeCode (#PCDATA)>
<!ELEMENT AgreementDate (#PCDATA)>
<!ATTLIST AgreementDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT NotificationIdentifier (#PCDATA)>
<!ELEMENT NotificationDate (#PCDATA)>
<!ATTLIST NotificationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RegistrationNumberIdentifier (#PCDATA)>
<!ELEMENT ControllerIdentifier (#PCDATA)>
<!ELEMENT ControllerName (#PCDATA)>
<!ELEMENT ControlDate (#PCDATA)>
<!ATTLIST ControlDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT BuyerReferenceIdentifier (#PCDATA)>
<!ELEMENT ProjectReferenceIdentifier (#PCDATA)>
<!ELEMENT DefinitionDetails (DefinitionHeaderText, DefinitionValue?)>
<!ELEMENT InvoiceTotalVatExcludedAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT InvoiceTotalVatAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT InvoiceTotalVatIncludedAmount (#PCDATA)>
<!ATTLIST InvoiceTotalVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT InvoiceTotalRoundoffAmount (#PCDATA)>
<!ATTLIST InvoiceTotalRoundoffAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT ExchangeRate (#PCDATA)>
<!ELEMENT OtherCurrencyAmountVatExcludedAmount (#PCDATA)>
<!ATTLIST OtherCurrencyAmountVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT OtherCurrencyAmountVatIncludedAmount (#PCDATA)>
<!ATTLIST OtherCurrencyAmountVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT CreditLimitAmount (#PCDATA)>
<!ATTLIST CreditLimitAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT CreditInterestPercent (#PCDATA)>
<!ELEMENT OperationLimitAmount (#PCDATA)>
<!ATTLIST OperationLimitAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT MonthlyAmount (#PCDATA)>
<!ATTLIST MonthlyAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT ShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT NormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT ProposedAccountText (#PCDATA)>
<!ELEMENT AccountDimensionText (#PCDATA)>
<!ELEMENT SellerAccountText (#PCDATA)>
<!ELEMENT InvoiceFreeText (#PCDATA)>
<!ELEMENT InvoiceVatFreeText (#PCDATA)>
<!ELEMENT InvoiceRecipientPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientEmailaddressIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientAddress (#PCDATA)>
<!ELEMENT InvoiceRecipientIntermediatorAddress (#PCDATA)>
<!ELEMENT InvoiceRecipientPartyIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationName (#PCDATA)>
<!ELEMENT InvoiceRecipientDepartment (#PCDATA)>
<!ELEMENT InvoiceRecipientOrganisationTaxCode (#PCDATA)>
<!ELEMENT InvoiceRecipientStreetName (#PCDATA)>
<!ELEMENT InvoiceRecipientTownName (#PCDATA)>
<!ELEMENT InvoiceRecipientPostCodeIdentifier (#PCDATA)>
<!ELEMENT InvoiceRecipientPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT RowSubIdentifier (#PCDATA)>
<!ELEMENT ArticleIdentifier (#PCDATA)>
<!ELEMENT ArticleGroupIdentifier (#PCDATA)>
<!ELEMENT ArticleName (#PCDATA)>
<!ELEMENT ArticleInfoUrlText (#PCDATA)>
<!ELEMENT BuyerArticleIdentifier (#PCDATA)>
<!ELEMENT EanCode (#PCDATA)>
<!ELEMENT RowRegistrationNumberIdentifier (#PCDATA)>
<!ELEMENT SerialNumberIdentifier (#PCDATA)>
<!ELEMENT RowActionCode (#PCDATA)>
<!ELEMENT RowDefinitionDetails (RowDefinitionHeaderText, RowDefinitionValue?)>
<!ELEMENT OfferedQuantity (#PCDATA)>
<!ATTLIST OfferedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT DeliveredQuantity (#PCDATA)>
<!ATTLIST DeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT OrderedQuantity (#PCDATA)>
<!ATTLIST OrderedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT ConfirmedQuantity (#PCDATA)>
<!ATTLIST ConfirmedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PostDeliveredQuantity (#PCDATA)>
<!ATTLIST PostDeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT InvoicedQuantity (#PCDATA)>
<!ATTLIST InvoicedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT CreditRequestedQuantity (#PCDATA)>
<!ATTLIST CreditRequestedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT ReturnedQuantity (#PCDATA)>
<!ATTLIST ReturnedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT UnitPriceAmount (#PCDATA)>
<!ATTLIST UnitPriceAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT UnitPriceVatIncludedAmount (#PCDATA)>
<!ATTLIST UnitPriceVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT UnitPriceBaseQuantity (#PCDATA)>
<!ATTLIST UnitPriceBaseQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowIdentifier (#PCDATA)>
<!ELEMENT RowIdentifierUrlText (#PCDATA)>
<!ELEMENT RowOrderPositionIdentifier (#PCDATA)>
<!ELEMENT RowIdentifierDate (#PCDATA)>
<!ATTLIST RowIdentifierDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowPositionIdentifier (#PCDATA)>
<!ELEMENT RowOrdererName (#PCDATA)>
<!ELEMENT RowSalesPersonName (#PCDATA)>
<!ELEMENT RowOrderConfirmationIdentifier (#PCDATA)>
<!ELEMENT RowOrderConfirmationDate (#PCDATA)>
<!ATTLIST RowOrderConfirmationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowDeliveryIdentifier (#PCDATA)>
<!ELEMENT RowDeliveryIdentifierUrlText (#PCDATA)>
<!ELEMENT RowDeliveryDate (#PCDATA)>
<!ATTLIST RowDeliveryDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowQuotationIdentifier (#PCDATA)>
<!ELEMENT RowQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT RowAgreementIdentifier (#PCDATA)>
<!ELEMENT RowAgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT RowRequestOfQuotationIdentifier (#PCDATA)>
<!ELEMENT RowRequestOfQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT RowPriceListIdentifier (#PCDATA)>
<!ELEMENT RowPriceListIdentifierUrlText (#PCDATA)>
<!ELEMENT RowProjectReferenceIdentifier (#PCDATA)>
<!ELEMENT RowOverDuePaymentDetails (RowOriginalInvoiceIdentifier?, RowOriginalInvoiceDate?, RowOriginalDueDate?, RowOriginalInvoiceTotalAmount?, RowOriginalEpiRemittanceInfoIdentifier?, RowPaidVatExcludedAmount?, RowPaidVatIncludedAmount?, RowPaidDate?, RowUnPaidVatExcludedAmount?, RowUnPaidVatIncludedAmount?, RowCollectionDate?, RowCollectionQuantity?, RowCollectionChargeAmount?, RowInterestRate?, RowInterestStartDate?, RowInterestEndDate?, RowInterestPeriodText?, RowInterestDateNumber?, RowInterestChargeAmount?, RowInterestChargeVatAmount?)>
<!ELEMENT RowAnyPartyDetails (RowAnyPartyText, RowAnyPartyIdentifier?, RowAnyPartyOrganisationName+, RowAnyPartyOrganisationDepartment*, RowAnyPartyOrganisationTaxCode?, RowAnyPartyPostalAddressDetails?, RowAnyPartyOrganisationUnitNumber?, RowAnyPartySiteCode?)>
<!ELEMENT RowShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT RowNormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT RowProposedAccountText (#PCDATA)>
<!ELEMENT RowAccountDimensionText (#PCDATA)>
<!ELEMENT RowSellerAccountText (#PCDATA)>
<!ELEMENT RowFreeText (#PCDATA)>
<!ELEMENT RowUsedQuantity (#PCDATA)>
<!ATTLIST RowUsedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPreviousMeterReadingDate (#PCDATA)>
<!ATTLIST RowPreviousMeterReadingDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowLatestMeterReadingDate (#PCDATA)>
<!ATTLIST RowLatestMeterReadingDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowCalculatedQuantity (#PCDATA)>
<!ATTLIST RowCalculatedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowAveragePriceAmount (#PCDATA)>
<!ATTLIST RowAveragePriceAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowDiscountPercent (#PCDATA)>
<!ELEMENT RowDiscountAmount (#PCDATA)>
<!ATTLIST RowDiscountAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowDiscountTypeCode (#PCDATA)>
<!ELEMENT RowDiscountTypeText (#PCDATA)>
<!ELEMENT RowProgressiveDiscountDetails (RowDiscountPercent?, RowDiscountAmount?, RowDiscountTypeCode?, RowDiscountTypeText?)>
<!ELEMENT RowVatRatePercent (#PCDATA)>
<!ELEMENT RowVatCode (#PCDATA)>
<!ELEMENT RowVatAmount (#PCDATA)>
<!ATTLIST RowVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowVatExcludedAmount (#PCDATA)>
<!ATTLIST RowVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowAmount (#PCDATA)>
<!ATTLIST RowAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT InvoiceSenderPartyIdentifier (#PCDATA)>
<!ELEMENT InvoiceSenderOrganisationName (#PCDATA)>
<!ELEMENT InvoiceSenderOrganisationTaxCode (#PCDATA)>
<!ELEMENT PaidAmount (#PCDATA)>
<!ATTLIST PaidAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT PaidVatExcludedAmount (#PCDATA)>
<!ATTLIST PaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT UnPaidAmount (#PCDATA)>
<!ATTLIST UnPaidAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT UnPaidVatExcludedAmount (#PCDATA)>
<!ATTLIST UnPaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT InterestPercent (#PCDATA)>
<!ELEMENT ProsessingCostsAmount (#PCDATA)>
<!ATTLIST ProsessingCostsAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT PartialPaymentVatIncludedAmount (#PCDATA)>
<!ATTLIST PartialPaymentVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT PartialPaymentVatExcludedAmount (#PCDATA)>
<!ATTLIST PartialPaymentVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT PartialPaymentDueDate (#PCDATA)>
<!ATTLIST PartialPaymentDueDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT PartialPaymentReferenceIdentifier (#PCDATA)>
<!ELEMENT PaymentOverDueFineFreeText (#PCDATA)>
<!ELEMENT PaymentOverDueFinePercent (#PCDATA)>
<!ELEMENT PaymentOverDueFixedAmount (#PCDATA)>
<!ATTLIST PaymentOverDueFixedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT PaymentMethodText (#PCDATA)>
<!ELEMENT PaymentTermsFreeText (#PCDATA)>
<!ELEMENT InvoiceDueDate (#PCDATA)>
<!ATTLIST InvoiceDueDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT CashDiscountDate (#PCDATA)>
<!ATTLIST CashDiscountDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT CashDiscountBaseAmount (#PCDATA)>
<!ATTLIST CashDiscountBaseAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT CashDiscountPercent (#PCDATA)>
<!ELEMENT CashDiscountAmount (#PCDATA)>
<!ATTLIST CashDiscountAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT CashDiscountExcludingVatAmount (#PCDATA)>
<!ATTLIST CashDiscountExcludingVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT CashDiscountVatDetails (CashDiscountVatPercent, CashDiscountVatAmount)>
<!ELEMENT ReducedInvoiceVatIncludedAmount (#PCDATA)>
<!ATTLIST ReducedInvoiceVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowTerminalAddressText (#PCDATA)>
<!ELEMENT RowWaybillIdentifier (#PCDATA)>
<!ELEMENT RowWaybillTypeCode (#PCDATA)>
<!ELEMENT RowClearanceIdentifier (#PCDATA)>
<!ELEMENT RowDeliveryNoteIdentifier (#PCDATA)>
<!ELEMENT RowDelivererIdentifier (#PCDATA)>
<!ELEMENT RowDelivererName (#PCDATA)>
<!ELEMENT RowDelivererCountryCode (#PCDATA)>
<!ELEMENT RowDelivererCountryName (#PCDATA)>
<!ELEMENT RowModeOfTransportIdentifier (#PCDATA)>
<!ELEMENT RowCarrierName (#PCDATA)>
<!ELEMENT RowVesselName (#PCDATA)>
<!ELEMENT RowLocationIdentifier (#PCDATA)>
<!ELEMENT RowTransportInformationDate (#PCDATA)>
<!ATTLIST RowTransportInformationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowCountryOfOrigin (#PCDATA)>
<!ELEMENT RowCountryOfDestinationName (#PCDATA)>
<!ELEMENT RowDestinationCountryCode (#PCDATA)>
<!ELEMENT RowPlaceOfDischarge (#PCDATA)>
<!ELEMENT RowFinalDestinationName (#PCDATA)>
<!ELEMENT RowManufacturerArticleIdentifier (#PCDATA)>
<!ELEMENT RowManufacturerIdentifier (#PCDATA)>
<!ELEMENT RowManufacturerName (#PCDATA)>
<!ELEMENT RowManufacturerCountryCode (#PCDATA)>
<!ELEMENT RowManufacturerCountryName (#PCDATA)>
<!ELEMENT RowManufacturerOrderIdentifier (#PCDATA)>
<!ELEMENT RowPackageDetails (RowPackageLength?, RowPackageWidth?, RowPackageHeight?, RowPackageWeight?, RowPackageNetWeight?, RowPackageVolume?, RowTransportCarriageQuantity?)>
<!ELEMENT SellerPhoneNumberIdentifier (#PCDATA)>
<!ELEMENT SellerEmailaddressIdentifier (#PCDATA)>
<!ELEMENT SellerOfficialPostalAddressDetails (SellerOfficialStreetName, SellerOfficialTownName, SellerOfficialPostCodeIdentifier, CountryCode?, CountryName?)>
<!ELEMENT SellerHomeTownName (#PCDATA)>
<!ELEMENT SellerVatRegistrationText (#PCDATA)>
<!ELEMENT SellerVatRegistrationDate (#PCDATA)>
<!ATTLIST SellerVatRegistrationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SellerTaxRegistrationText (#PCDATA)>
<!ELEMENT SellerPhoneNumber (#PCDATA)>
<!ELEMENT SellerFaxNumber (#PCDATA)>
<!ELEMENT SellerCommonEmailaddressIdentifier (#PCDATA)>
<!ELEMENT SellerWebaddressIdentifier (#PCDATA)>
<!ELEMENT SellerFreeText (#PCDATA)>
<!ELEMENT SellerPartyIdentifier (#PCDATA)>
<!ELEMENT SellerPartyIdentifierUrlText (#PCDATA)>
<!ELEMENT SellerOrganisationName (#PCDATA)>
<!ELEMENT SellerOrganisationDepartment (#PCDATA)>
<!ELEMENT SellerOrganisationTaxCode (#PCDATA)>
<!ELEMENT SellerOrganisationTaxCodeUrlText (#PCDATA)>
<!ELEMENT SellerStreetName (#PCDATA)>
<!ELEMENT SellerTownName (#PCDATA)>
<!ELEMENT SellerPostCodeIdentifier (#PCDATA)>
<!ELEMENT SellerPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT SpecificationFreeText (#PCDATA)>
<!ELEMENT SubIdentifier (#PCDATA)>
<!ELEMENT SubRowPositionIdentifier (#PCDATA)>
<!ELEMENT SubArticleIdentifier (#PCDATA)>
<!ELEMENT SubArticleGroupIdentifier (#PCDATA)>
<!ELEMENT SubArticleName (#PCDATA)>
<!ELEMENT SubArticleInfoUrlText (#PCDATA)>
<!ELEMENT SubBuyerArticleIdentifier (#PCDATA)>
<!ELEMENT SubEanCode (#PCDATA)>
<!ELEMENT SubRowRegistrationNumberIdentifier (#PCDATA)>
<!ELEMENT SubSerialNumberIdentifier (#PCDATA)>
<!ELEMENT SubRowActionCode (#PCDATA)>
<!ELEMENT SubRowDefinitionDetails (SubRowDefinitionHeaderText, SubRowDefinitionValue?)>
<!ELEMENT SubOfferedQuantity (#PCDATA)>
<!ATTLIST SubOfferedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubDeliveredQuantity (#PCDATA)>
<!ATTLIST SubDeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubOrderedQuantity (#PCDATA)>
<!ATTLIST SubOrderedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubConfirmedQuantity (#PCDATA)>
<!ATTLIST SubConfirmedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubPostDeliveredQuantity (#PCDATA)>
<!ATTLIST SubPostDeliveredQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubInvoicedQuantity (#PCDATA)>
<!ATTLIST SubInvoicedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubCreditRequestedQuantity (#PCDATA)>
<!ATTLIST SubCreditRequestedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubReturnedQuantity (#PCDATA)>
<!ATTLIST SubReturnedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubStartDate (#PCDATA)>
<!ATTLIST SubStartDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubEndDate (#PCDATA)>
<!ATTLIST SubEndDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubUnitPriceAmount (#PCDATA)>
<!ATTLIST SubUnitPriceAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT SubUnitPriceVatIncludedAmount (#PCDATA)>
<!ATTLIST SubUnitPriceVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
	UnitPriceUnitCode CDATA #IMPLIED
>
<!ELEMENT SubUnitPriceBaseQuantity (#PCDATA)>
<!ATTLIST SubUnitPriceBaseQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowIdentifier (#PCDATA)>
<!ELEMENT SubRowIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowIdentifierDate (#PCDATA)>
<!ATTLIST SubRowIdentifierDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowOrdererName (#PCDATA)>
<!ELEMENT SubRowSalesPersonName (#PCDATA)>
<!ELEMENT SubRowOrderConfirmationIdentifier (#PCDATA)>
<!ELEMENT SubRowOrderConfirmationDate (#PCDATA)>
<!ATTLIST SubRowOrderConfirmationDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubOriginalInvoiceNumber (#PCDATA)>
<!ELEMENT SubRowDeliveryIdentifier (#PCDATA)>
<!ELEMENT SubRowDeliveryIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowDeliveryDate (#PCDATA)>
<!ATTLIST SubRowDeliveryDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowQuotationIdentifier (#PCDATA)>
<!ELEMENT SubRowQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowAgreementIdentifier (#PCDATA)>
<!ELEMENT SubRowAgreementIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowRequestOfQuotationIdentifier (#PCDATA)>
<!ELEMENT SubRowRequestOfQuotationIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowPriceListIdentifier (#PCDATA)>
<!ELEMENT SubRowPriceListIdentifierUrlText (#PCDATA)>
<!ELEMENT SubRowProjectReferenceIdentifier (#PCDATA)>
<!ELEMENT SubRowOverDuePaymentDetails (SubRowOriginalInvoiceIdentifier?, SubRowOriginalInvoiceDate?, SubRowOriginalDueDate?, SubRowOriginalInvoiceTotalAmount?, SubRowOriginalEpiRemittanceInfoIdentifier?, SubRowPaidVatExcludedAmount?, SubRowPaidVatIncludedAmount?, SubRowPaidDate?, SubRowUnPaidVatExcludedAmount?, SubRowUnPaidVatIncludedAmount?, SubRowCollectionDate?, SubRowCollectionQuantity?, SubRowCollectionChargeAmount?, SubRowInterestRate?, SubRowInterestStartDate?, SubRowInterestEndDate?, SubRowInterestPeriodText?, SubRowInterestDateNumber?, SubRowInterestChargeAmount?, SubRowInterestChargeVatAmount?)>
<!ELEMENT SubRowAnyPartyDetails (SubRowAnyPartyText, SubRowAnyPartyIdentifier?, SubRowAnyPartyOrganisationName+, SubRowAnyPartyOrganisationDepartment*, SubRowAnyPartyOrganisationTaxCode?, SubRowAnyPartyPostalAddressDetails?, SubRowAnyPartyOrganisationUnitNumber?, SubRowAnyPartySiteCode?)>
<!ELEMENT SubRowShortProposedAccountIdentifier (#PCDATA)>
<!ELEMENT SubRowNormalProposedAccountIdentifier (#PCDATA)>
<!ELEMENT SubRowProposedAccountText (#PCDATA)>
<!ELEMENT SubRowAccountDimensionText (#PCDATA)>
<!ELEMENT SubRowSellerAccountText (#PCDATA)>
<!ELEMENT SubRowFreeText (#PCDATA)>
<!ELEMENT SubRowUsedQuantity (#PCDATA)>
<!ATTLIST SubRowUsedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPreviousMeterReadingDate (#PCDATA)>
<!ATTLIST SubRowPreviousMeterReadingDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowLatestMeterReadingDate (#PCDATA)>
<!ATTLIST SubRowLatestMeterReadingDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowCalculatedQuantity (#PCDATA)>
<!ATTLIST SubRowCalculatedQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowAveragePriceAmount (#PCDATA)>
<!ATTLIST SubRowAveragePriceAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowDiscountPercent (#PCDATA)>
<!ELEMENT SubRowDiscountAmount (#PCDATA)>
<!ATTLIST SubRowDiscountAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowDiscountTypeCode (#PCDATA)>
<!ELEMENT SubRowDiscountTypeText (#PCDATA)>
<!ELEMENT SubRowProgressiveDiscountDetails (SubRowDiscountPercent?, SubRowDiscountAmount?, SubRowDiscountTypeCode?, SubRowDiscountTypeText?)>
<!ELEMENT SubRowVatRatePercent (#PCDATA)>
<!ELEMENT SubRowVatCode (#PCDATA)>
<!ELEMENT SubRowVatAmount (#PCDATA)>
<!ATTLIST SubRowVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowVatExcludedAmount (#PCDATA)>
<!ATTLIST SubRowVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowAmount (#PCDATA)>
<!ATTLIST SubRowAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowTerminalAddressText (#PCDATA)>
<!ELEMENT SubRowWaybillIdentifier (#PCDATA)>
<!ELEMENT SubRowWaybillTypeCode (#PCDATA)>
<!ELEMENT SubRowClearanceIdentifier (#PCDATA)>
<!ELEMENT SubRowDeliveryNoteIdentifier (#PCDATA)>
<!ELEMENT SubRowDelivererIdentifier (#PCDATA)>
<!ELEMENT SubRowDelivererName (#PCDATA)>
<!ELEMENT SubRowDelivererCountryCode (#PCDATA)>
<!ELEMENT SubRowDelivererCountryName (#PCDATA)>
<!ELEMENT SubRowPlaceOfDischarge (#PCDATA)>
<!ELEMENT SubRowFinalDestinationName (#PCDATA)>
<!ELEMENT SubRowManufacturerArticleIdentifier (#PCDATA)>
<!ELEMENT SubRowManufacturerIdentifier (#PCDATA)>
<!ELEMENT SubRowManufacturerName (#PCDATA)>
<!ELEMENT SubRowManufacturerCountryCode (#PCDATA)>
<!ELEMENT SubRowManufacturerCountryName (#PCDATA)>
<!ELEMENT SubRowManufacturerOrderIdentifier (#PCDATA)>
<!ELEMENT SubRowPackageDetails (SubRowPackageLength?, SubRowPackageWidth?, SubRowPackageHeight?, SubRowPackageWeight?, SubRowPackageNetWeight?, SubRowPackageVolume?, SubRowTransportCarriageQuantity?)>
<!ELEMENT VatBaseAmount (#PCDATA)>
<!ATTLIST VatBaseAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT VatRatePercent (#PCDATA)>
<!ELEMENT VatCode (#PCDATA)>
<!ELEMENT VatRateAmount (#PCDATA)>
<!ATTLIST VatRateAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT VatFreeText (#PCDATA)>
<!ELEMENT ShipmentPartyIdentifier (#PCDATA)>
<!ELEMENT ShipmentOrganisationName (#PCDATA)>
<!ELEMENT ShipmentOrganisationDepartment (#PCDATA)>
<!ELEMENT ShipmentOrganisationTaxCode (#PCDATA)>
<!ELEMENT ShipmentPostalAddressDetails (ShipmentStreetName+, ShipmentTownName, ShipmentPostCodeIdentifier, CountryCode?, CountryName?, ShipmentPostOfficeBoxIdentifier?)>
<!ELEMENT ShipmentSiteCode (#PCDATA)>
<!ELEMENT PackageLength (#PCDATA)>
<!ATTLIST PackageLength
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PackageWidth (#PCDATA)>
<!ATTLIST PackageWidth
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PackageHeight (#PCDATA)>
<!ATTLIST PackageHeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PackageWeight (#PCDATA)>
<!ATTLIST PackageWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PackageNetWeight (#PCDATA)>
<!ATTLIST PackageNetWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT PackageVolume (#PCDATA)>
<!ATTLIST PackageVolume
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT TransportCarriageQuantity (#PCDATA)>
<!ATTLIST TransportCarriageQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT MessageSenderDetails (FromIdentifier, FromIntermediator)>
<!ELEMENT MessageReceiverDetails (ToIdentifier, ToIntermediator)>
<!ELEMENT MessageDetails (MessageIdentifier, MessageTimeStamp, RefToMessageIdentifier?)>
<!ELEMENT AnyPartyText (#PCDATA)>
<!ATTLIST AnyPartyText
	AnyPartyCode CDATA #REQUIRED
>
<!ELEMENT AnyPartyIdentifier (#PCDATA)>
<!ELEMENT AnyPartyOrganisationName (#PCDATA)>
<!ELEMENT AnyPartyOrganisationDepartment (#PCDATA)>
<!ELEMENT AnyPartyOrganisationTaxCode (#PCDATA)>
<!ELEMENT AnyPartyContactPersonName (#PCDATA)>
<!ELEMENT AnyPartyContactPersonFunction (#PCDATA)>
<!ELEMENT AnyPartyContactPersonDepartment (#PCDATA)>
<!ELEMENT AnyPartyPostalAddressDetails (AnyPartyStreetName+, AnyPartyTownName, AnyPartyPostCodeIdentifier, CountryCode?, CountryName?, AnyPartyPostOfficeBoxIdentifier?)>
<!ELEMENT AnyPartyOrganisationUnitNumber (#PCDATA)>
<!ELEMENT AnyPartySiteCode (#PCDATA)>
<!ELEMENT FactoringAgreementIdentifier (#PCDATA)>
<!ELEMENT TransmissionListIdentifier (#PCDATA)>
<!ELEMENT EndorsementClauseCode (#PCDATA)>
<!ELEMENT FactoringTypeCode (#PCDATA)>
<!ELEMENT FactoringFreeText (#PCDATA)>
<!ELEMENT FactoringPartyIdentifier (#PCDATA)>
<!ELEMENT FactoringPartyName (#PCDATA)>
<!ELEMENT FactoringPartyPostalAddressDetails (FactoringPartyStreetName+, FactoringPartyTownName, FactoringPartyPostCodeIdentifier, CountryCode?, CountryName?, FactoringPartyPostOfficeBoxIdentifier?)>
<!ELEMENT DefinitionHeaderText (#PCDATA)>
<!ATTLIST DefinitionHeaderText
	DefinitionCode CDATA #IMPLIED
>
<!ELEMENT DefinitionValue (#PCDATA)>
<!ATTLIST DefinitionValue
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowDefinitionHeaderText (#PCDATA)>
<!ATTLIST RowDefinitionHeaderText
	DefinitionCode CDATA #IMPLIED
>
<!ELEMENT RowDefinitionValue (#PCDATA)>
<!ATTLIST RowDefinitionValue
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowOriginalInvoiceIdentifier (#PCDATA)>
<!ELEMENT RowOriginalInvoiceDate (#PCDATA)>
<!ATTLIST RowOriginalInvoiceDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowOriginalDueDate (#PCDATA)>
<!ATTLIST RowOriginalDueDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowOriginalInvoiceTotalAmount (#PCDATA)>
<!ATTLIST RowOriginalInvoiceTotalAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowOriginalEpiRemittanceInfoIdentifier (#PCDATA)>
<!ELEMENT RowPaidVatExcludedAmount (#PCDATA)>
<!ATTLIST RowPaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowPaidVatIncludedAmount (#PCDATA)>
<!ATTLIST RowPaidVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowPaidDate (#PCDATA)>
<!ATTLIST RowPaidDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowUnPaidVatExcludedAmount (#PCDATA)>
<!ATTLIST RowUnPaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowUnPaidVatIncludedAmount (#PCDATA)>
<!ATTLIST RowUnPaidVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowCollectionDate (#PCDATA)>
<!ATTLIST RowCollectionDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowCollectionQuantity (#PCDATA)>
<!ATTLIST RowCollectionQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowCollectionChargeAmount (#PCDATA)>
<!ATTLIST RowCollectionChargeAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowInterestRate (#PCDATA)>
<!ELEMENT RowInterestStartDate (#PCDATA)>
<!ATTLIST RowInterestStartDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowInterestEndDate (#PCDATA)>
<!ATTLIST RowInterestEndDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT RowInterestPeriodText (#PCDATA)>
<!ELEMENT RowInterestDateNumber (#PCDATA)>
<!ELEMENT RowInterestChargeAmount (#PCDATA)>
<!ATTLIST RowInterestChargeAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowInterestChargeVatAmount (#PCDATA)>
<!ATTLIST RowInterestChargeVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowAnyPartyText (#PCDATA)>
<!ATTLIST RowAnyPartyText
	AnyPartyCode CDATA #REQUIRED
>
<!ELEMENT RowAnyPartyIdentifier (#PCDATA)>
<!ELEMENT RowAnyPartyOrganisationName (#PCDATA)>
<!ELEMENT RowAnyPartyOrganisationDepartment (#PCDATA)>
<!ELEMENT RowAnyPartyOrganisationTaxCode (#PCDATA)>
<!ELEMENT RowAnyPartyPostalAddressDetails (RowAnyPartyStreetName+, RowAnyPartyTownName, RowAnyPartyPostCodeIdentifier, CountryCode?, CountryName?, RowAnyPartyPostOfficeBoxIdentifier?)>
<!ELEMENT RowAnyPartyOrganisationUnitNumber (#PCDATA)>
<!ELEMENT RowAnyPartySiteCode (#PCDATA)>
<!ELEMENT CashDiscountVatPercent (#PCDATA)>
<!ELEMENT CashDiscountVatAmount (#PCDATA)>
<!ATTLIST CashDiscountVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT RowPackageLength (#PCDATA)>
<!ATTLIST RowPackageLength
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPackageWidth (#PCDATA)>
<!ATTLIST RowPackageWidth
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPackageHeight (#PCDATA)>
<!ATTLIST RowPackageHeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPackageWeight (#PCDATA)>
<!ATTLIST RowPackageWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPackageNetWeight (#PCDATA)>
<!ATTLIST RowPackageNetWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowPackageVolume (#PCDATA)>
<!ATTLIST RowPackageVolume
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT RowTransportCarriageQuantity (#PCDATA)>
<!ATTLIST RowTransportCarriageQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SellerOfficialStreetName (#PCDATA)>
<!ELEMENT SellerOfficialTownName (#PCDATA)>
<!ELEMENT SellerOfficialPostCodeIdentifier (#PCDATA)>
<!ELEMENT SubRowDefinitionHeaderText (#PCDATA)>
<!ATTLIST SubRowDefinitionHeaderText
	DefinitionCode CDATA #IMPLIED
>
<!ELEMENT SubRowDefinitionValue (#PCDATA)>
<!ATTLIST SubRowDefinitionValue
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowOriginalInvoiceIdentifier (#PCDATA)>
<!ELEMENT SubRowOriginalInvoiceDate (#PCDATA)>
<!ATTLIST SubRowOriginalInvoiceDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowOriginalDueDate (#PCDATA)>
<!ATTLIST SubRowOriginalDueDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowOriginalInvoiceTotalAmount (#PCDATA)>
<!ATTLIST SubRowOriginalInvoiceTotalAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowOriginalEpiRemittanceInfoIdentifier (#PCDATA)>
<!ELEMENT SubRowPaidVatExcludedAmount (#PCDATA)>
<!ATTLIST SubRowPaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowPaidVatIncludedAmount (#PCDATA)>
<!ATTLIST SubRowPaidVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowPaidDate (#PCDATA)>
<!ATTLIST SubRowPaidDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowUnPaidVatExcludedAmount (#PCDATA)>
<!ATTLIST SubRowUnPaidVatExcludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowUnPaidVatIncludedAmount (#PCDATA)>
<!ATTLIST SubRowUnPaidVatIncludedAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowCollectionDate (#PCDATA)>
<!ATTLIST SubRowCollectionDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowCollectionQuantity (#PCDATA)>
<!ATTLIST SubRowCollectionQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowCollectionChargeAmount (#PCDATA)>
<!ATTLIST SubRowCollectionChargeAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowInterestRate (#PCDATA)>
<!ELEMENT SubRowInterestStartDate (#PCDATA)>
<!ATTLIST SubRowInterestStartDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowInterestEndDate (#PCDATA)>
<!ATTLIST SubRowInterestEndDate
	Format NMTOKEN #REQUIRED
>
<!ELEMENT SubRowInterestPeriodText (#PCDATA)>
<!ELEMENT SubRowInterestDateNumber (#PCDATA)>
<!ELEMENT SubRowInterestChargeAmount (#PCDATA)>
<!ATTLIST SubRowInterestChargeAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowInterestChargeVatAmount (#PCDATA)>
<!ATTLIST SubRowInterestChargeVatAmount
	AmountCurrencyIdentifier NMTOKEN #REQUIRED
>
<!ELEMENT SubRowAnyPartyText (#PCDATA)>
<!ATTLIST SubRowAnyPartyText
	AnyPartyCode CDATA #REQUIRED
>
<!ELEMENT SubRowAnyPartyIdentifier (#PCDATA)>
<!ELEMENT SubRowAnyPartyOrganisationName (#PCDATA)>
<!ELEMENT SubRowAnyPartyOrganisationDepartment (#PCDATA)>
<!ELEMENT SubRowAnyPartyOrganisationTaxCode (#PCDATA)>
<!ELEMENT SubRowAnyPartyPostalAddressDetails (SubRowAnyPartyStreetName+, SubRowAnyPartyTownName, SubRowAnyPartyPostCodeIdentifier, CountryCode?, CountryName?, SubRowAnyPartyPostOfficeBoxIdentifier?)>
<!ELEMENT SubRowAnyPartyOrganisationUnitNumber (#PCDATA)>
<!ELEMENT SubRowAnyPartySiteCode (#PCDATA)>
<!ELEMENT SubRowPackageLength (#PCDATA)>
<!ATTLIST SubRowPackageLength
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPackageWidth (#PCDATA)>
<!ATTLIST SubRowPackageWidth
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPackageHeight (#PCDATA)>
<!ATTLIST SubRowPackageHeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPackageWeight (#PCDATA)>
<!ATTLIST SubRowPackageWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPackageNetWeight (#PCDATA)>
<!ATTLIST SubRowPackageNetWeight
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowPackageVolume (#PCDATA)>
<!ATTLIST SubRowPackageVolume
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT SubRowTransportCarriageQuantity (#PCDATA)>
<!ATTLIST SubRowTransportCarriageQuantity
	QuantityUnitCode CDATA #IMPLIED
>
<!ELEMENT ShipmentStreetName (#PCDATA)>
<!ELEMENT ShipmentTownName (#PCDATA)>
<!ELEMENT ShipmentPostCodeIdentifier (#PCDATA)>
<!ELEMENT ShipmentPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT FromIdentifier (#PCDATA)>
<!ELEMENT FromIntermediator (#PCDATA)>
<!ELEMENT ToIdentifier (#PCDATA)>
<!ELEMENT ToIntermediator (#PCDATA)>
<!ELEMENT MessageIdentifier (#PCDATA)>
<!ELEMENT MessageTimeStamp (#PCDATA)>
<!ELEMENT RefToMessageIdentifier (#PCDATA)>
<!ELEMENT AnyPartyStreetName (#PCDATA)>
<!ELEMENT AnyPartyTownName (#PCDATA)>
<!ELEMENT AnyPartyPostCodeIdentifier (#PCDATA)>
<!ELEMENT AnyPartyPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT FactoringPartyStreetName (#PCDATA)>
<!ELEMENT FactoringPartyTownName (#PCDATA)>
<!ELEMENT FactoringPartyPostCodeIdentifier (#PCDATA)>
<!ELEMENT FactoringPartyPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT RowAnyPartyStreetName (#PCDATA)>
<!ELEMENT RowAnyPartyTownName (#PCDATA)>
<!ELEMENT RowAnyPartyPostCodeIdentifier (#PCDATA)>
<!ELEMENT RowAnyPartyPostOfficeBoxIdentifier (#PCDATA)>
<!ELEMENT SubRowAnyPartyStreetName (#PCDATA)>
<!ELEMENT SubRowAnyPartyTownName (#PCDATA)>
<!ELEMENT SubRowAnyPartyPostCodeIdentifier (#PCDATA)>
<!ELEMENT SubRowAnyPartyPostOfficeBoxIdentifier (#PCDATA)>
